
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tiny5&display=swap');

body{
    background-image: url(./img/imagem-inicial1.jpg);
    background-repeat: no-repeat;
    filter: blur(200%);
    background-size: cover;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    text-shadow: 2px 2px 4px black;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80px;
}

.botao{
    text-align: center;
    margin-top: 50%;
}

button{
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    padding: 20px 40px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

@Keyframes anima{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}